{{ if .Title }}
<meta name="title" content="{{ .Title }}">
<meta property="og:title" content="{{ .Title }}" />
{{ end }}

<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if $.Params.image }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ $.Params.image }}" />
{{ end }}

{{ if .Description }}
<meta name="description" content="{{ .Description }}">
<meta property="og:description" content="{{ .Description }}">
{{ end }}

<meta name="author" content="Vassalware">